In [13]:
#Tuples
#immutable & ordered
#[bbbb]
#(aaa)
tup1 = ();
tup1 = (9,);

In [14]:
tup1 = ('physics', 'chemistry', 'biology', 'english',97, 100,88,92);

In [15]:
tup2 = (1, 2, 3, 4, 5 );

In [16]:
print ("tup1[2]: ", tup1[2])

tup1[2]:  biology

In [17]:
del tup2;

In [18]:
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup2[2:5]: ", tup2[2:5])

tup2[2:5]:  (3, 4, 5)

In [19]:
#Length of tuple
print(len(tup1))

8

In [20]:
#concatenation
# initialize tuples 
test_tup1 = (1, 3, 5) 
test_tup2 = (4, 6) 
  
# printing original tuples 
print("The original tuple 1 : " + str(test_tup1)) 
print("The original tuple 2 : " + str(test_tup2)) 
  
# Ways to concatenate tuples 
# using + operator 
res = test_tup1 + test_tup2 
  
# printing result 
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

In [21]:
#repetation
tupr=('ABC',)*7
print(tupr)

('ABC', 'ABC', 'ABC', 'ABC', 'ABC', 'ABC', 'ABC')

In [22]:
#membership
tupf = ("apple", "banana", "cherry")
print('cherry' in tupf)

True

In [23]:
#iteration
for x in (1,2,3,4,5):
    print(x)

1
2
3
4
5

#Built-in functions

In [26]:
if tup1 == tup2:
    print('True')
#Compares elements of 2 tuples.

In [29]:
#max(tup1)
#Returns item from the tuple with max value.
#min(tup1)
#Returns item from the tuple with min value.

1.WAP TO PICK THE 3RD , 4TH N 5TH OBJECT AND CREATE ANOTHER TUPPLE WITH THE SAME

In [32]:
tup_old=('a','b','c','d',1,2,3,4)
tup_new=(tup_old[2:5])
print(tup_new)

('c', 'd', 1)

 2.Counts the number of occurrences of  an item  from a tuple of min 10 elements.

In [33]:
def countX(tup, x): 
    count = 0
    for ele in tup: 
        if (ele == x): 
            count = count + 1
    return count 
   
# Driver Code 
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2) 
enq = 4
enq1 = 10
enq2 = 8
print(countX(tup, enq)) 
print(countX(tup, enq1)) 
print(countX(tup, enq2))

0
3
4

 3.Write a Python program calculate the product, multiplying all the numbers  with 35

In [37]:
tup4=()
for ele in tup:
  prod=ele*35
  tup4=tup4+(prod,)

print(tup4)

(350, 280, 175, 70, 350, 525, 350, 280, 175, 280, 280, 70)

4.Write a Python program to replace last value of tuples in a list.

In [34]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

5.
Write a Python program to find the length of a tuple

In [36]:
#5.
tuplex = tuple('physics')
print(tuplex)
print(len(tuplex))

('p', 'h', 'y', 's', 'i', 'c', 's')
7

6.Write a Python program to find the index of an item of a tuple

In [39]:
tuplex = tuple("index tuple")
print(tuplex)
index = tuplex.index("p")
print(index)

('i', 'n', 'd', 'e', 'x', ' ', 't', 'u', 'p', 'l', 'e')
8