### pandas

In [1]:
import pandas as pd

s= pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [2]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

```
**axes**

Returns a list of the row axis labels 

**dtype**

Returns the dtype of the object.

**empty**

Returns True if series is empty.

**ndim**

Returns the number of dimensions of the underlying data, by definition 1.

**size**

Returns the number of elements in the underlying data.

**values**

Returns the Series as ndarray.

**head()**

Returns the first n rows.

**tail()**

Returns the last n rows.

**T**

Transposes rows and columns.

```

In [19]:
#WAP to create a dictionary of pandas series and from that
#create a dataframe and find the transpose of the dataframe

s=pd.Series([1,2,3,4])
s=s.to_dict()
s=pd.DataFrame.from_dict(s,orient='index')
print(s)
print("\n")
print(s.T)

   0
0  1
1  2
2  3
3  4


   0  1  2  3
0  1  2  3  4

In [21]:
#WAP to create a dictionary of pandas series create a dataframe  and and find the number of elements within it
s=pd.Series([1,2,3,4])
s=s.to_dict()
s=pd.DataFrame.from_dict(s,orient='index')
print(s.size)

4

In [22]:
#wap to create a dict with series. create a dataframe and return 
#the actual data in the DataFrame as an NDarray.
s=pd.Series([1,2,3,4])
s=s.to_dict()
s=pd.DataFrame.from_dict(s,orient='index')
print(s.values)

[[1]
 [2]
 [3]
 [4]]

In [26]:
#wap to create a dict with series. create a dataframe and return 
#the first row and the last row.

s=pd.Series([1,2,3,4])
s=s.to_dict()
s=pd.DataFrame.from_dict(s,orient='index')
print(s.head(1))
print("\n")
print(s.tail(1))

   0
0  1


   0
3  4

iteritems() − to iterate over the (key,value) pairs

iterrows() − iterate over the rows as (index,series) pairs

itertuples() − iterate over the rows as namedtuples

In [3]:
 df = pd.DataFrame({'Company': ['Maruti', 'TATA', 'Mahindra'], 'Engine': [1500, 2000, 2500]},index=['Swift', 'Safari','XUV'])
for row in df.itertuples():
    print(row)

Pandas(Index='Swift', Company='Maruti', Engine=1500)
Pandas(Index='Safari', Company='TATA', Engine=2000)
Pandas(Index='XUV', Company='Mahindra', Engine=2500)

sorting by labels, display the order of sorting
sort the columns
sort by values
implement all the sorting algorithms

lower()

Converts strings in the Series/Index to lower case.
len()

Computes String length().
split(' ')

Splits each string with the given pattern.
cat(sep=' ')

Concatenates the series/index elements with given separator.
repeat(value)

Repeats each element with specified number of times.
swapcase

Swaps the case lower/upper.
isnumeric()

Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

In [4]:
#wap to find the length of the string and repaet the values in odd position 3 times
strings = pd.Series(["Hello", "World", "Python", "Pandas"])

pd.Series([x for i, x in enumerate(list(strings)) if i % 2 != 0]).repeat(3)

0     World
0     World
0     World
1    Pandas
1    Pandas
1    Pandas
dtype: object

In [5]:
import pandas as pd
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (pd.merge(left, right, on='subject_id', how='right'))

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   NaN     NaN       sub3     3   Bran
3   4.0   Alice       sub6     4  Bryce
4   5.0  Ayoung       sub5     5  Betty

In [9]:
#WAP TO Merge Two DataFrames on Multiple Keys
a = pd.DataFrame({'A':['0', '0', '1','1'],'B':['0', '1', '0','1'], 'v':[True, False, False, True]})
b = pd.DataFrame({'A':['0', '0', '1','1'], 'B':['0', '1', '0','1'],'v':[False, True, True, True]})

result = pd.merge(a, b, on=['A','B'], how='inner', suffixes=['_and', '_or'])

result

   A  B  v_and   v_or
0  0  0   True  False
1  0  1  False   True
2  1  0  False   True
3  1  1   True   True

WAP TO PERFORM RIGHT JOIN
LEFT JOIN
OUTER JOIN
INNNER JOIN

#Visualisation